@page
@model RegisterUserModel
@{
    ViewData["Title"] = "User Registration";
}

<h1>User Registration</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" />
        <label asp-for="Input.Email"></label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" />
        <label asp-for="Input.Password"></label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <label asp-for="Input.ConfirmPassword"></label>
    </div>

    <button class="btn btn-success w-100">
        Register User
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


